<a href="https://colab.research.google.com/github/adlihs/Connect-Assistance-Challenge/blob/main/Prueba_Tecnica_%7C_Connect_%7C_Edmund_Neil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge 1

Ud es un Data Analyst Sr. en Connect Assistance y está asignado a un importante proyecto corporativo. Para lo que va necesitar crear un PoC que resuelva los siguientes requerimientos:

Mover la data histórica de los archivos CSV a una nueva BDD.
Publicar el proyecto y código en Github (Se tendrá en cuenta si se realizan actualizaciones frecuentes realizadas al repositorio que permiten analizar el proceso de desarrollo.)
Se adjuntan tres (3) archivos que son los que se deben cargar en dicha BDD, para la posterior exploración.
Ud decide que motor de BDD utilizar, se recomienda usar cloud tools sobre local tools. Pero debe ser sobre SQL DB.
Si se tiene duda con algún punto puede pedir que le despejen la duda, también si requiere acceso al drive para los archivos pedirlo, en caso de no tener cuenta gmail se le adjuntará al email.
**Los puntos de carga de datos a BDD son opcionales, se puede trabajar el análisis y depuración de los datos directo de las hojas de cálculo adjuntas.

CSV estructuras.

## Creacion de de base de datos y tablas en SQLite

In [4]:
# Importamos librerias

import sqlite3
import pandas as pd

In [5]:
# Conectar a la base de datos (o crearla si no existe)
conn = sqlite3.connect('challenge.db')

# Crear una tabla llamada "Hired_employees"
conn.execute('''CREATE TABLE Hired_employees
             (id INTEGER PRIMARY KEY,
             name TEXT,
             datetime date,
             department_id INTEGER,
             job_id INTEGER);''')


# Crear una tabla llamada "departments"
conn.execute('''CREATE TABLE departments
             (department_id INTEGER PRIMARY KEY,
             department TEXT);''')



# Crear una tabla llamada "jobs"
conn.execute('''CREATE TABLE jobs
             (job_id INTEGER PRIMARY KEY,
             job TEXT);''')

## Importacion de archivos csv
Se importaran los archivos csv a dataframes de Pandas, ya que pandas facilita la interaccion con las tablas en SQLite

`Nota:` Se suben a google colab los archivos csv, desde ahi se procederan a leerlos

In [6]:
# Se importa la informacion de los archivos csv a dataframes de pandas
jobs_df = pd.read_csv('/content/jobs.csv',header=None)
departments_df = pd.read_csv('/content/departments.csv', header=None)
hired_employees_df = pd.read_csv('/content/hired_employees.csv', header=None)

In [7]:
# renombramos adecuadamente las columnas de los dataframes para que pueden ser identicas que al de las tablas
jobs_df = jobs_df.rename(columns={0: 'job_id',1:'job'})
departments_df = departments_df.rename(columns={0: 'department_id',1:'department'})
hired_employees_df = hired_employees_df.rename(columns={0: 'id',1:'name',2:'datetime',3:'department_id',4:'job_id'})

### `Nota:` Se revisan los datos del archivo Hired_employees.csv y se identifcan datos faltantes en las columnas de varias filas. Dichas filas no seran tomadas en cuenta. Se van a trabajar unicamente con informacion completa con el fin de proveer data correcta. Por ejemplo hay filas que no tienen informacion en la columna *department_id*, esta columna servira de llave foranea para la tabla *departments*, sin ese dato no se podra hacer una correcta relacion entre las tablas.

In [8]:
jobs_df = jobs_df.dropna()
departments_df = departments_df.dropna()
hired_employees_df = hired_employees_df.dropna()

jobs_df.to_csv('jobs.csv', index=False)
departments_df.to_csv('departments.csv', index=False)
hired_employees_df.to_csv('hired_employees.csv', index=False)

## Mover la data historica de archivos CSV a Base de datos (challenge.db)

In [9]:
# Insertar los datos del dataframe en la tabla 'jobs'
jobs_df.to_sql('jobs', conn, if_exists='append', index=False)

183

In [10]:
# Insertar los datos del dataframe en la tabla 'departmens'
departments_df.to_sql('departments', conn, if_exists='append', index=False)

12

In [11]:
# Insertar los datos del dataframe en la tabla 'Hired_employees'
hired_employees_df.to_sql('Hired_employees', conn, if_exists='append', index=False)

1929

## Validacion de registros insertados en tablas

### Tabla `jobs`

In [12]:
# SELECT para validar registros en tabla 'jobs'

# Ejecutar el SELECT TOP 10 * FROM
jobs_res = conn.execute("SELECT * FROM jobs LIMIT 10")

# Obtener los resultados
results = jobs_res.fetchall()

# Imprimir los resultados
for row in results:
    print(row)

(1, 'Marketing Assistant')
(2, 'VP Sales')
(3, 'Biostatistician IV')
(4, 'Account Representative II')
(5, 'VP Marketing')
(6, 'Environmental Specialist')
(7, 'Software Consultant')
(8, 'Office Assistant III')
(9, 'Information Systems Manager')
(10, 'Desktop Support Technician')

### Tabla `departments`

In [13]:
# SELECT para validar registros en tabla 'departments'

# Ejecutar el SELECT TOP 10 * FROM
departments_res = conn.execute("SELECT * FROM departments LIMIT 10")

# Obtener los resultados
results = departments_res.fetchall()

# Imprimir los resultados
for row in results:
    print(row)

(1, 'Product Management')
(2, 'Sales')
(3, 'Research and Development')
(4, 'Business Development')
(5, 'Engineering')
(6, 'Human Resources')
(7, 'Services')
(8, 'Support')
(9, 'Marketing')
(10, 'Training')

### Tabla `Hired_employees`

In [14]:
# SELECT para validar registros en tabla 'hired_employees'

# Ejecutar el SELECT TOP 10 * FROM
hired_employees_res = conn.execute("SELECT * FROM Hired_employees LIMIT 10 ")

# Obtener los resultados
results = hired_employees_res.fetchall()

# Imprimir los resultados
for row in results:
    print(row)

(1, 'Harold Vogt', '2021-11-07T02:48:42Z', 2, 96)
(3, 'Lyman Hadye', '2021-09-01T23:27:38Z', 5, 52)
(4, 'Lotti Crowthe', '2021-10-01T13:04:21Z', 12, 71)
(5, 'Gretna Lording', '2021-10-10T22:22:17Z', 6, 80)
(6, 'Marlow Antecki', '2021-04-23T23:45:42Z', 6, 95)
(7, 'Joan Rillett', '2021-10-10T01:33:31Z', 9, 78)
(8, 'Ulrick Nucciotti', '2021-07-24T01:28:40Z', 8, 169)
(9, 'Lucretia Northcote', '2021-04-01T21:22:47Z', 9, 8)
(10, 'Arty Giacobo', '2022-02-08T12:27:07Z', 6, 62)
(11, 'Libbi Dowtry', '2021-07-05T04:55:10Z', 6, 41)

## `Tablas` en la base de datos `challenge.db`

In [15]:
# Obtener la información de las tablas y sus campos
cursor = conn.execute("SELECT name, sql FROM sqlite_master WHERE type='table'")

# Imprimir la información de las tablas y sus campos
for name, sql in cursor.fetchall():
    print(name)
    print('-' * 20)
    print(sql)
    print('\n')

Hired_employees
--------------------
CREATE TABLE Hired_employees
             (id INTEGER PRIMARY KEY,
             name TEXT,
             datetime date,
             department_id INTEGER,
             job_id INTEGER)


departments
--------------------
CREATE TABLE departments
             (department_id INTEGER PRIMARY KEY,
             department TEXT)


jobs
--------------------
CREATE TABLE jobs
             (job_id INTEGER PRIMARY KEY,
             job TEXT)